{{ 'home.css' | asset_url | stylesheet_tag }}

<header class="header">
  <div class="header__content container">
    <h1 class="header__title">{{ section.settings.header_title }}</h1>
    <nav class="header__nav">
      <ul class="header__list">
        {% for block in section.blocks %}
          <li class="header__item">
            <a href="{{block.settings.link_url}}" class="header__link">{{ block.settings.link_text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "header_title",
      "label": "Nome da Empresa",
      "default": "Lúmina Care"
    }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "Link do Menu",
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Texto do Link",
          "default": "Produtos"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Destino do Link",
          "default": "/"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header",
      "blocks": [
        {
          "type": "link",
          "settings": {
            "link_text": "Produtos",
            "link_url": "/"
          }
        },
        {
          "type": "link",
          "settings": {
            "link_text": "Carrinho",
            "link_url": "/"
          }
        },
        {
          "type": "link",
          "settings": {
            "link_text": "Conta",
            "link_url": "/"
          }
        }
      ]
    }
  ]
}
{% endschema %}
