.footer {
  background-color: #3a4439;
  color: #fdfbf9;
  padding-block: 3em;
  margin-block-start: 80px;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.footer__list {
  display: grid;
  justify-content: end;
  gap: 20px;
}

.footer__link {
  color: var(--footer-link);
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: var(--accent)
}


.footer__branding {
  grid-column: 1;
}

.footer__title {
  font-size: 2rem;
}

.footer__navigation {
  grid-column: 2;
}

.footer__support {
  grid-column: 3;
}