/* HEADER CSS */
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5em;
}

.header__list {
  display: flex;
  gap: 30px;
}

.header__link {
  color: var(--primary-text);
  position: relative;
  padding-block: 0.5em;
}

.header__link::before {
  background: var(--highlight);
  bottom: 0;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 0%;
  transition: width 0.5s ease;
}

.header__link:hover::before {
  width: 100%;
}

/* HERO CSS */
.hero {
  margin-block: 80px 50px;
}
.hero__content {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.hero_eyebrow {
  color: var(--highlight);
  margin-block-end: 0.5em;
}

.hero__title {
  font-size: 2.5rem;
  line-height: 1;
  max-width: 30ch;
  margin-block-end: 0.5em;
}
.hero__description {
  font-size: 1.125rem;
  line-height: 1.3;
  max-width: 70ch;
  margin-block-end: 1em;
}

.hero__button {
  background: var(--accent);
  border-radius: 4px;
  color: #fff;
  padding: 1em 2em;
}

.hero__image {
  border-radius: 4px;
}

/* CSS PRODUCTS */
.products__title {
  font-size: 2rem;
  margin-block-end: 1.6em;
}
.products__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
}

.product {
  display: grid;
  justify-items: start;
}

.product__title {
  max-width: 35ch;
  color: #2d2d2d;
  margin-block-end: 1em;
}

.product__description {
  max-width: 45ch;
  color: #666666;
  margin-block-end: 1.1875em;
}

.product__price {
  font-size: 1.2rem;
  color: var(--highlight);
  margin-block-end: 0.5em;

}

.product__tags {
  display: flex;
  gap: 20px;
  margin-block-end: 1.1875em;
}

.product__button {
  background: var(--accent);
  color: #fff;
  padding: 1em 2em;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.product__image {
  border-radius: 4px;
  margin-block-end: 1em;
}